* {
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;

	}

body {
    background-image: url("/background.png");
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

div#content {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.25em;
}

hr {
    border: 0;
    background-color: #aaa;
    height: 3px;
    width: 100%;
    margin: 0 auto;
    animation: line 1s;
}

h1#title {
    color: #fff;
    font-family: 'Comfortaa', monospace;
    font-size: 4em;
    cursor: default;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s;
    color: #000;
}

a.link {
    color: #fff;
    font-size: 2.4em;
    display: inline-block;
}

a.link:hover {
    transform: scale(1.25);
}

a.link:active {
    transform: scale(0.95);
}

a:hover {
    color: #333;
}

#youtube:hover {
    color: #cd201f;
}

#twitter:hover {
    color: #1da1f2;
}

#github:hover {
    color: #0366d6;
}

#medium:hover {
    color: #00ab6c;
}

p#scroll-arrow {
    position: fixed;
    bottom: 0.75em;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 2em;
}

p#scroll-arrow a {
    color: #fff;
}

div#extra {
    position: absolute;
    top: 100%;
    left: 0px;
    padding-top: 0.25em;
    padding-bottom: 1em;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
    z-index: 10;
}

a.extra-link {
    font-size: 1.5em;
    padding: 0.2em 0.5em 0.5em 0.5em;
    display: inline-block;
    border-top: 0.3em solid #000;
}

a.extra-link:hover {
    color: #fff;
    background-color: #000;
    transform: scale(1.1);
}

a.extra-link:active {
    transform: scale(0.95);
}

#copyr {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #555;
}

#copyr a {
    text-decoration: underline;
    color: #555;
}

@media screen and (max-width: 450px) {
    div#content {
        font-size: 6vw;
    }
    div#extra {
        font-size: 3.9vw;
    }
}

@media screen and (max-height: 400px) {
    div#content {
        font-size: 6vh;
    }
}

@keyframes line {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

.rotate {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
