* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    background-image: url("https://windowsworld.us/i/background.png");
    overflow-x: hidden;
}

div#container {
    max-width: 50em;
    margin: 0 auto;
    min-height: 100%;
}

div#header {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

div#header a {
    padding: 0.5em;
    display: inline-block;
    transition: all 0.25s;
    color: #000;
    margin-right: 1em;
}

div#header a:hover {
    color: #fff;
    background-color: #000;
    transform: scale(1.1);
}

div#header a:active {
    transform: scale(0.95);
}

h1#title {
    font-family: 'Comfortaa', monospace;
    font-size: 1.5em;
    cursor: default;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
}

a:hover {
    color: #aaa;
}

p {
  font-size: 1.1em;
}

li {
    position: relative;
    left: 25px;
}

#questions .question {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

#questions .question .question-subheading {
    font-size: 1.1em;
    font-weight: bold;
}

#questions #devices #handylist, #questions #devices li {
    margin-left: 2em;
}


/* devices page */

a.link-to-device {
    float: right;
    margin-left: 0.5em;
    transition: all 0.25s;
}

a.link-to-device:hover {
    transform: scale(1.25);
}

a.link-to-device:active {
    transform: scale(0.95);
}

.column {
    max-width: 50em;
}
